In [11]:
import pandas as pd

dataframe_sharks = pd.read_excel('https://www.sharkattackfile.net/spreadsheets/GSAF5.xls')

In [12]:
dataframe_sharks

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,09-Jan-2024,2024.0,Unprovoked,AUSTRALIA,South Australia,"Walkers Beach, Elliston",Surfing,Murray Adams,M,64,...,White shark,"A. Currie, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,05-Jan-2024,2024.0,Provoked,SOUTH AFRICA,Eastern Cape Province,Papiesfontein,Fishing,male,M,62,...,Raggedtooth shark,Jacaranda fm. 1/6/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,30 Dec-2023,2023.0,Unprovoked,USA,Hawaii,"Baby Beach, Maui",Surfing,Jason Carter,M,39,...,NaN,"Surfer, 12/31/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29 Dec-2023,2023.0,Unprovoked,MEXICO,Sonora,"Tojahui Beach, Yavaros, Huatabampo",Free diving,Víctor Alejandro “N”,M,22,...,White shark,"EuroESEuro, 12/31/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,28 Dec-2023,2023.0,Unprovoked,AUSTRALIA,South Australia,Ethel Beach,Surfing,Khai Cowley,M,15,...,"White shark, 13'","S. DeMarchi, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6955,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6956,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
dataframe_sharks.shape

(6957, 23)

In [14]:
dataframe_sharks.describe()

              Year  original order
count  6930.000000     6799.000000
mean   1934.249351     3401.152081
std     273.132061     1963.076319
min       0.000000        2.000000
25%    1947.000000     1701.500000
50%    1985.000000     3401.000000
75%    2009.000000     5100.500000
max    2024.000000     6802.000000

In [7]:
dataframe_sharks.dtypes

Date               object
Year              float64
Type               object
Country            object
State              object
Location           object
Activity           object
Name               object
Sex                object
Age                object
Injury             object
Unnamed: 11        object
Time               object
Species            object
Source             object
pdf                object
href formula       object
href               object
Case Number        object
Case Number.1      object
original order    float64
Unnamed: 21        object
Unnamed: 22        object
dtype: object

In [10]:
dataframe_sharks.colums

AttributeError: 'DataFrame' object has no attribute 'colums'

In [ ]:
for column in dataframe_sharks.colums:
    dataframe_sharks["ST"].value_counts()
    
    titanic_df.columns